pkgbase = migraphx
	pkgdesc = AMD's graph optimization engine
	pkgver = 5.0.1
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/AMDMIGraphX/doc/html/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = nlohmann-json
	makedepends = half
	makedepends = pybind11
	depends = hip
	depends = miopen
	depends = protobuf
	depends = msgpack-cxx
	depends = blaze
	source = migraphx-5.0.1.tar.gz::https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/archive/rocm-5.0.1.tar.gz
	sha256sums = ff9c10ed0ae6f388e5d23ee5c3a7c0db49deebbbd45b9a1f2e6b4a99934271b1

pkgname = migraphx
